.list-1{
    position: relative;
}
.list-1::after{
    content: "";
    height: 100%;
    width: 2px;
    background-color: var(--bs-body-bg);
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 0;
}
.icon i{
    width: 50px;
    height: 50px;
    background-color: var(--bs-body-bg);
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}